Q1. Create one variable containing following type of data:

In [4]:
a = "str"
b = [12,34,45]
c = 12.67
d = (1,2,3)

Q2. Given are some following variables containing data:

In [5]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [6]:
type(var1)

str

In [7]:
type(var2)

str

In [8]:
type(var3)

list

In [9]:
type(var4)

float

Q3 Explain the use of the following operators using an example:

In [10]:
#Division
3/4

0.75

In [11]:
#Floor Division
10//3

3

In [12]:
#modulo
5%2

1

In [13]:
#Power
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
d = [2,3,4,5,6,'str',True,23.55,1.53]

In [3]:
for i in d:
    print((i),type(i))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
str <class 'str'>
True <class 'bool'>
23.55 <class 'float'>
1.53 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a= 100
b= 5

count = 0

while a%b == 0:
    a= a//b
    count +=1
    
if count > 0:
    print(f"{a} is divisible by {b} and can be divided {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

4 is divisible by 5 and can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
s = [5,12,7,18,20,9,11,15,6,21,13,30,8,16,3,22,19,10,14,24,27,17,4,25,23]
for num in s:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

5 is not divisible by 3.
12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
20 is not divisible by 3.
9 is divisible by 3.
11 is not divisible by 3.
15 is divisible by 3.
6 is divisible by 3.
21 is divisible by 3.
13 is not divisible by 3.
30 is divisible by 3.
8 is not divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
22 is not divisible by 3.
19 is not divisible by 3.
10 is not divisible by 3.
14 is not divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
17 is not divisible by 3.
4 is not divisible by 3.
25 is not divisible by 3.
23 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [19]:
#Mutable object can be modified after they are created,while immutable objects cannot be changed once they are created.
#immutable data types:
#integer
x=5
x=x+1
print(x)
#string
s = 'Hello'
s = s + 'World'
print(s)

#Mutable data types:
#list
a = [1,2,3]
a[0] = 10
print(a)

#dictionary
b={"a":1,"b":2,"c":3}
b["a"]=10
print(b)

#set
s = {1,2,3}
s.add(4)
print(s)

6
HelloWorld
[10, 2, 3]
{'a': 10, 'b': 2, 'c': 3}
{1, 2, 3, 4}